@using Mobie_store.Models.Entity
@{
    var img = (List<image>)ViewBag.image;
}
<div class="col-sm-6">
    <div class="product-images">
        <div class="product-main-img">
            @{
                foreach (var item1 in Model)
                {
                    if (item1.product_id == Model.id)
                    {
                        <img style="width:400px;height:250px" src="@item1." alt="Alternate Text" />
                        break;
                    }
                }
            }
        </div>

        <div class="product-gallery">
            @{
                foreach (var item1 in Model)
                {
                    if (item1.product_id == Model.id)
                    {
                        <img style="width:400px;height:250px" src="@item1." alt="Alternate Text" />
                        
                    }
                }
            }

        </div>
    </div>
</div>