
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/Layouts/_Home.cshtml";

    string key = Request.QueryString["key"];
}
<div class="product-big-title-area">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            
        </div>
    </div>
</div>
</div>
<h4>Kết quả tìm kiếm sản phẩm @key</h4>
